<h1 class="yellow-text center-align">Experience you can count on</h1>
<br />
<div class="row pull-right">
  <div class="card medium col offset-s1 offset-m1 s10 m5 card-color">
    <div class="card-image activator waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/KB.jpg", class:"activator", alt:"Image of Kevin Bond, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Kevin Bond JD</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Kevins TITLE:
        </i></p>
        <br />
        <i class="para-size">Kevins TEXT: This License applies to any claims or Losses relating to any other program whose authors commit to using it. Free Software Foundation. If the program `Gnomovision' (which makes passes at compilers) written by James Hacker.</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/BC.jpg", class:"activator", alt:"Image of Budge Call, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Budge Call JD</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Budges TITLE:
        </i></p>
        <br />
        <i class="para-size">Kevins TEXT: This License applies to any claims or Losses relating to any other program whose authors commit to using it. Free Software Foundation. If the program `Gnomovision' (which makes passes at compilers) written by James Hacker.</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 offset-m1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/KC.jpg", class:"activator", alt:"Image of Kevin Call, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Kevin Call JD</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Kevin Call's TITLE:
        </i></p>
        <br />
        <i class="para-size">Kevins TEXT: This License applies to any claims or Losses relating to any other program whose authors commit to using it. Free Software Foundation. If the program `Gnomovision' (which makes passes at compilers) written by James Hacker.</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/HK.jpg", class:"activator", alt:"Image of Harpreet Kaur, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Harpreet Kuar JD</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Herpreets TITLE:
        </i></p>
        <br />
        <i class="para-size">Kevins TEXT: This License applies to any claims or Losses relating to any other program whose authors commit to using it. Free Software Foundation. If the program `Gnomovision' (which makes passes at compilers) written by James Hacker.</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
</div>
