<div class="jvdge-background container" alt="The prestigious Judge Building, home to Bond and Call, Attorneys at Law">
  <!-- < image_tag("icons/JVDGE1.jpg", class:"activator", alt:"The prestigious Judge Building, home to Bond and Call LLC") %> -->
  <div class="jvdge-layer">
    <h1 class="topper red-text center-align">
      <%= image_tag("icons/Bond&CallLogo.svg", alt:"Bond and Call Logo, with the letters B and C fitting inside a black and red box.", width:"70%") %>
    </h1>
    <!-- <p class="red-text center-align">Find me in app/views/static/home.html.erb</p> -->
  </div>
</div>
