/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
// $primary-color: #661D16 !default; // starting red
// $primary-color-light: #663D39 !default; // slightly greyed red?
// $primary-color-dark: color("blue", "darken-4") !default; // don't think we'll need blue
// $secondary-color: #666666 !default; // grey, not sure if needs to be lightened up though
// $secondary-color-light: #bdbdbd; // lighter grey
// $secondary-color-materialize: #9e9e9e; // darker than the light grey
// $link-color: color("orange", "base") !default; // this will probably change
$primary-color: #4B1318 !default;
$primary-color-light: #B99FA1 !default;
$primary-color-dark: #1E1213 !default;
$secondary-color: #3A3F28 !default;
$secondary-color-light: #A3A88C !default;
$secondary-color-dark: #232717 !default;
$link-color: #E2B600 !default;
$link-accent-color: #E1D381 !default;

@import "materialize";

// html {
//   font-family: GillSans, Calibri, Trebuchet, sans-serif;
// }

.medium {
  margin: 5px !important;
  height: 450px !important;
}
.card-image {
  margin-top: 10px !important;
  height: 80% !important;
}

.pull-right {
  margin-left: 10% !important;
}

.card-content {
  height: 20% !important;
  text-align: center !important;
}

.color-test {
  background-color: $secondary-color;
}
.background-grey {
  background-color: $secondary-color-dark;
}

.card-color {
  background-color: $primary-color;
}
.yellow {
  color: $link-accent-color !important;
  background-color: $primary-color !important;
}

.yellow-text {
  color: $link-accent-color !important;
}

.para-size {
  font-size: 0.6em !important;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.light-red {
  background-color: $primary-color-light !important;
}

// other color options I've been playing with.
// monocromatic:  #663D39  // greyed red
// complementary: #16663C  **** // green, maybe for call to action or buttons?
// other complem: #114D1E  // darker green option
// split complem: #256616  // lighter green, I don't like this as much
// equiangular:   #16663C  // almost a blue green
